@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --font-sans: "BeaufortforLOL";
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.13 0.028 261.692);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.13 0.028 261.692);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.13 0.028 261.692);
    --primary: oklch(0.21 0.034 264.665);
    --primary-foreground: oklch(0.985 0.002 247.839);
    --secondary: oklch(0.967 0.003 264.542);
    --secondary-foreground: oklch(0.21 0.034 264.665);
    --muted: oklch(0.967 0.003 264.542);
    --muted-foreground: oklch(0.551 0.027 264.364);
    --accent: oklch(0.967 0.003 264.542);
    --accent-foreground: oklch(0.21 0.034 264.665);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.928 0.006 264.531);
    --input: oklch(0.928 0.006 264.531);
    --ring: oklch(0.707 0.022 261.325);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0.002 247.839);
    --sidebar-foreground: oklch(0.13 0.028 261.692);
    --sidebar-primary: oklch(0.21 0.034 264.665);
    --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
    --sidebar-accent: oklch(0.967 0.003 264.542);
    --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
    --sidebar-border: oklch(0.928 0.006 264.531);
    --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
    --background: var(--color-league-black-200);
    --foreground: var(--color-league-white-100);
    --card: var(--color-league-grey-200);
    --card-foreground: var(--color-league-white-100);

    --popover: var(--color-league-grey-200);
    --popover-foreground: var(--color-league-white-100);

    --primary: var(--color-league-gold-100);
    --primary-foreground: var(--color-league-black-200);

    --secondary: var(--color-league-grey-200);
    --secondary-foreground: var(--color-league-white-100);

    --muted: var(--color-league-grey-200);
    --muted-foreground: var(--color-league-white-100);

    --accent: var(--color-league-gold-300);
    --accent-foreground: var(--color-league-white-100);

    --border: var(--color-league-grey-150);
    --input: var(--color-league-gold-100);

    --sidebar-foreground: oklch(0.13 0.028 261.692);
    --sidebar-primary: oklch(0.21 0.034 264.665);
    --sidebar-primary-foreground: oklch(0.13 0.028 261.692);
    --sidebar-accent: oklch(0.13 0.028 261.692);
    --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
    --sidebar-border: oklch(0.13 0.028 261.692);
    --sidebar-ring: oklch(0.13 0.028 261.692);
}

@theme {
    --color-league-blue-100: #cdfafa;
    --color-league-blue-200: #0ac8b9;
    --color-league-blue-300: #0397ab;
    --color-league-blue-400: #005a82;
    --color-league-blue-500: #0a323c;
    --color-league-blue-600: #0a1428;
    --color-league-blue-700: #091428;

    --color-league-gold-100: #f0e6d2;
    --color-league-gold-200: #c8aa6e;
    --color-league-gold-300: #c8aa6e;
    --color-league-gold-400: #c89b3c;
    --color-league-gold-500: #785a28;
    --color-league-gold-600: #463714;

    --color-league-grey-100: #a09b8c;
    --color-league-grey-150: #5b5a56;
    --color-league-grey-200: #3c3c41;
    --color-league-grey-300: #1e2328;
    --color-league-grey-400: #1e282d;

    --color-league-black-100: #010a13;
    --color-league-black-200: #111;

    --color-league-white-100: #f8f8f8;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@font-face {
    font-family: "BeaufortforLOL";
    src: url("/fonts/BeaufortforLOL.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BeaufortforLOL-heavy";
    src: url("/fonts/BeaufortforLOL-Heavy.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
